
@{
    ViewBag.Title = "Calculator";
}

<style type="text/css">
    .auto-style1 {
        text-align: center;
    }

    .auto-style3 {
        text-align: right;
        font-weight: normal;
    }
</style>
<head>
    
    <script type="text/javascript">

        function multiply(ip) {
            var frm = ip.form, totals = frm['total'], t = 0, z0 = 0;
            while (ip.nodeName.toUpperCase() != 'TR') {
                ip = ip.parentNode;
            }
            ip = ip.getElementsByTagName('INPUT');
            ip[0].value = ip[0].value.replace(/\D/g, '') || 0;
            ip[1].value = ip[1].value.replace(/\D/g, '') || 0;
            ip[2].value = ip[0].value * ip[1].value;
            for (; z0 < totals.length; z0++) {
                totals[z0].value = totals[z0].value.replace(/\D/g, '') || 0;
                t += totals[z0].value * 1;
            }
            frm['ext_total'].value = t;

        }

    </script>
</head>
<body>
    <center>
        
        <form method="post" action="#">
            <h1 align="center" class="auto-style9"></h1>
        </form>
        <form method="post" action="#">
            <h1 align="center" class="auto-style9">Online_Ticket_Booking</h1>
        </form>
        <form method="post" action="#">
            <h2 align="center" class="auto-style9">Calculate the total Amount Here</h2>
        </form>
        <form method="post" action="#">
            <h3 align="left" class="auto-style9">Enter the values</h3>
        </form>
        <form method="post" action="#">
            <h4 align="center" class="auto-style9"></h4>
        </form>
        <form method="post" action="#">
            <h5 align="center" class="auto-style9"></h5>

            <table>
                <tr>

                    <td style="width: 50px" class="auto-style1">Qty</td>
                    <td style="width: 200px" class="auto-style1">Amount</td>
                    <td style="width: 60px" class="auto-style1">Total</td>


                </tr>
            </table>
            <table>
                <tr>

                    <td><input type="text" name="qty_1" id="1_value1" onkeyup="multiply(this)" style="width: 100px" required></td>
                    <td><input type="text" name="amount_1" id="1_value2" onkeyup="multiply(this)" style="width: 200px" required></td>
                    <td><input type="text" name="total" id="extend1" style="width: 100px" required></td>

                </tr>
            </table>
            <br />
            <table>
                <tr>
                    <td><input type="submit" id="mySubmit" formaction="/action_page2.php" value="Calculate"></td>
                    <td><a class="btn">@Html.ActionLink("Ticket_Booking", "Ticket_Booking", "Home")</a></td>
                    <td><a class="btn">@Html.ActionLink("Back to List", "Index")</a></td>
                </tr>
            </table>
        </form>
    </center>

</body>




